<div class="row">
    <div class="col-xs-12">
        <a href="#" class="logo pull-left">
            <img src="../../../img/navigation-logo.png">
        </a>
        <epod-button [buttonOptions]="loginButton" routerLink="/" routerLinkActive="active"></epod-button>
    </div>
</div>
