<h2>Trips</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Driver</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trip of tripObj">
            <td>
                <div class="table-data">
                    {{trip.name}}
                </div>
            </td>
            <td>
                <div class="table-data">
                    {{trip.driver}}
                </div>
            </td>
        </tr>
    </tbody>
</table>