/* Montway Custom Tables */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $table-padding * 2;
    background-color: $table-bg;

    &.table-fixed {
        table-layout: fixed;
    }

    &.table-clickable {
        tbody {
            tr {
                cursor: pointer;
            }
        }
    }

    tbody {
        tr {
            &:hover,
            &.selected {
                background-color: $table-hover;
            }
        }
    }

    th {
        padding: $table-padding;
        text-transform: uppercase;
        color: $gray;
        font-size: $table-font-size;
        line-height: $table-line-height;
        border-bottom: 2px solid $table-border-color;
        font-weight: 400;
        text-align: left;

        &.table-numeric {
            text-align: right;

            .form-control {
                max-width: 90px;
            }
        }

        &.table-checkbox {
            text-align: center;
        }

        .form-control {
            display: inline-block;
            height: 40px;
            width: auto;
        }
    }

    thead {
        tr + tr {
            th {
                border-bottom: none;
            }
        }
    }

    td {
        padding: $table-padding;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
        line-height: 24px;  

        &.table-numeric {
            text-align: right;
            font-feature-settings: "tnum";
            -webkit-font-feature-settings: "tnum";
            -moz-font-feature-settings: "tnum";
            -ms-font-feature-settings: "tnum";
        }

        &.table-checkbox {
            text-align: center;
        }
    }

    @media(max-width: 1600px) {
        table, thead, tbody, th, td, tr {
            display: block; 
        }
    }

    &.table-condensed {
        th,
        td {
            padding: $table-padding / 2;
        }
    }

    .table-data {
        font-size: $table-font-size;
        line-height: $table-line-height;
        color: $table-color;
        font-weight: 400;
    }

    .table-data-secondary {
        font-size: $table-secondary-font-size;
        line-height: $table-secondary-line-height;
        color: $table-secondary-color;
        font-weight: 400;
    }

    .progress {
        height: 4px;
        line-height: 4px;
        margin-bottom: 4px;
        margin-top: 8px;
        background-color: #e1e4e5;
        box-shadow: none;

        .progress-bar {
            background-color: #e1e4e5;
            background-image: linear-gradient(to right, #34c739 0%, #07c5eb 100%);
        }
    }

    .material-icons {
        color: $table-secondary-color;
        font-size: $table-font-size;
        vertical-align: middle;
    }

    .table-trigger-settings {
        position: relative;
        float: left;
    }
}

.table-container {
    position: relative;

    .table-settings {
        position: absolute;
        top: 52px;
        left: 10px;
        background-color: #fff;
        width: 350px;
        border: 1px solid #2b7af2;
        border-radius: 6px;
        z-index: 10;
        padding: 16px;
    }

    .table-settings-title {
        color: $table-color;
        font-size: 16px;
        font-weight: 600;
        line-height: 2.1;
        text-transform: uppercase;
        margin: 0;
    }

    hr {
        margin: 16px 0;
    }

    label {
        display: block;
        color: $gray;
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        cursor: pointer;
    }
}