<ul class="nav nav-pills nav-stacked">
    <!-- <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li> -->
    <li>
        <a routerLink="/orders" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
        <a routerLink="/drivers" routerLinkActive="active">Drivers</a>
    </li>
    <li>
        <a routerLink="/trips" routerLinkActive="active">Trips</a>
    </li>
    <!-- <li>
        <a routerLink="/gps-tracking" routerLinkActive="active">GPS Tracking</a>
    </li> -->
    <!-- <li>
        <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
    </li>
    <li>
        <a routerLink="/reports" routerLinkActive="active">Reports</a>
    </li>
    <li>
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </li>
    <li>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
    </li> -->
</ul>