.container {
    width: 100%;
} 

epod-header {
    background-color: white;
    padding: 0px;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 20px;
}

side-menu {
    position: fixed;
    height: 100%;
    border-right: 1px solid gray;
    background-color: white;
    padding: 10px 0;
}