<div class="container">
    <div class="row">
        <epod-header class="col-md-12"></epod-header>
    </div>
    <div class="row">
        <side-menu class="col-md-1"></side-menu>
        <div class="col-md-offset-1 col-md-11">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
