<div class="row">
    <div class="col-md-2">
        <div style="padding: 30px;">
            <form>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email"  class="form-control" id="email"
                   required
                   [(ngModel)]="loginForm.email" name="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password"  class="form-control" id="password"
                   required
                   [(ngModel)]="loginForm.password" name="password">
              </div>
              <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </form>
        </div>
    </div>
</div>