<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Adddress</th>
            <th>Vehicles</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderObj">
            <td>
                <div class="table-data">
                    {{order.delivery_address}}
                </div>
            </td>
            <td>
                <div class="table-data">
                    <p *ngFor="let vehicle of order.vehicles">
                        {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>