.red {
    background-color:red;
}
.blue {
    background-color:blue;
}
.pink {
    background-color:pink;
}
.green {
    background-color:green;
}
.white {
    background-color:white;
}
.red-font {
    color:red;
}
.blue-font {
    color:blue;
}
.pink-font {
    color:pink;
}
.green-font {
    color:green;
}
.white-font {
    color:white;
}