<button 
  class="btn btn-default"
  [ngClass]='buttonOptions.class' 
  [class.border-radius]='buttonOptions.radius'>
  <span class="icon-holder" *ngIf="buttonOptions.hasIcon">
    <span 
      class="glyphicon" 
      [ngClass]='buttonOptions.iconClass' 
      aria-hidden="true">
    </span>
  </span>
  <span class="text">{{ buttonOptions.text }}</span>
</button>