<h2>Drivers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let driver of driverObj">
            <td>
                <div class="table-data">
                    {{driver.full_name}}
                </div>
            </td>
            <td>
                <div class="table-data">
                    {{driver.email}}
                </div>
            </td>
            <td>
                <div class="table-data">
                    <img src="{{driver.company.logo}}" height="32" alt="">
                    {{driver.company.name}}
                </div>
            </td>
        </tr>
    </tbody>
</table>